<div class="content">
    <form method="post" id="main-form">
        <div>
            <label id="label-civ">Civ</label>
            <label class="radio-label"><input type="radio" name="civ" value="M" <?php echo ($lead->civ=="M")? 'checked' : '' ?>> M </label>
            <label class="radio-label"><input type="radio" name="civ" value="Mme" <?php echo ($lead->civ=="Mme")? 'checked' : '' ?>> Mme </label>
            <?php if(isset($errors['civ']['valid']) && ( $errors['civ']['valid'] == 0)) :?>
            <p id="error-civ" class="error"><?php echo $errors['civ']['msg'] ?></p>
            <?php endif; ?>
        </div>
        <div>
            <label for="name" id="label-name">Name</label>
            <input type="text" name="name" id="name" value="<?php echo !empty($lead->name)? $lead->name : "" ?>">
            <?php if(isset($errors['name']['valid']) && ( $errors['name']['valid'] == 0)) :?>
            <p id="error-name" class="error"><?php echo $errors['name']['msg'] ?></p>
            <?php endif; ?>
        </div>
        <div>
            <label for="surname" id="label-surname">Surname</label>
            <input type="text" name="surname" id="surname" value="<?php echo !empty($lead->surname)? $lead->surname : "" ?>">
            <?php if(isset($errors['surname']['valid']) && ( $errors['surname']['valid'] == 0)) :?>
            <p id="error-surname" class="error"><?php echo $errors['surname']['msg'] ?></p>
            <?php endif; ?>
        </div>
        <div>
            <label for="phone" id="label-phone">Phone</label>
            <input type="text" name="phone" id="phone" value="<?php echo !empty($lead->phone)? $lead->phone : "" ?>">
            <?php if(isset($errors['phone']['valid']) && ( $errors['phone']['valid'] == 0)) :?>
                <p id="error-name" class="error"><?php echo $errors['phone']['msg'] ?></p>
            <?php endif; ?>
        </div>
        <div>
            <label for="zipcode" id="label-zipcode">Zip code</label>
            <input type="text" name="zipcode" id="zipcode" value="<?php echo !empty($lead->zipcode)? $lead->zipcode : "" ?>">
            <?php if(isset($errors['zipcode']['valid']) && ( $errors['zipcode']['valid'] == 0)) :?>
                <p id="error-name" class="error"><?php echo $errors['zipcode']['msg'] ?></p>
            <?php endif; ?>
        </div>
        <input type="submit" name="Submit">
    </form>
</div>
