<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="<?php echo $ENCODING; ?>" />
		<title>Powered by <?php echo $PACKAGE; ?></title>
		<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
		<link rel="stylesheet" href="ui/css/main.css" type="text/css" />
	</head>
	<body>
		<?php echo $this->render(Base::instance()->get('content')); ?>
	</body>
</html>
